.container{
    padding-top: 30px;
    padding-bottom: 60px;
}
.sign-in{
    color: white !important;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 15px;
    background-color: #21B573;
}
ul li{
    font-size: medium;
    font-weight: bold;
    list-style: none;
}
.half-width{
    width: 50%;
    padding-top: 30px;
}
.half-width img{
    height: 300px;
    width: 500px;
}
.half-width h6{
    color: #FD511A;
}
h1{
    font-weight: 700;
    padding-bottom: 20px;
}
.top-portion{
    height: 800px;
    background-color: #F0FFF0;
}
.image-icon{
    width: 430px;
    height: 230px;
}
.get-started-button{
    width: 150px;
    height: 45px;
    color: white;
    background-color: #21B573;
    border: none;
    border-radius: 30px;
}
.card-img-top{
    height: 100px;
    width: 75px;
    padding-top: 20px;
}
.first-card-section{
    padding-left: 60px;
    padding-top: 60px;
}
.card-four{
    background-color: #F0FFF0;
    border: none;
    border-radius: 10px 10px 10px;
}
.card-four:hover{
    background-color: white;
    border-color: gray;
    border-radius: 15px;
    box-shadow: 5px 5px 20px lightgray;  
}
.card-img{
    padding: 20px;
}
.course{
    padding-bottom: 50px;
}
.card-mid{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgray; 
}
.flex-container img{
    width: 30px;
    height: 30px;
}
.half-width-footer{
    width: 50%;
}
.flex-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: gray;
    font-weight: bolder;
}
.test-img img{
    width: 170px;
    height:170px;
}
.mid-portion{
    background-color: rgb(250, 252, 253);
}
.last-para{
    padding-right: 80px;
}
.first-part{
    width: 50%;
}
.second-part{
    width: 15%;
}
.third-part{
    width: 15%;
}
.fourth-part{
    width: 15%;
}
.last-portion{
    color: white;
    background-color: black;
}